html, body {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.amiibosList {
  margin-top: 4%;
}

img {
  width: 20%;
}

.amiibo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3%;
}

.card {
  width: 30%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2% 1%;
  padding: 2% 0 1%;
}